{version, {shell, "./version.sh"}}.
{build, {shell, "printf '%d' $BUILD_NUMBER"}}.
{subdirs, ["ebt"]}.
{profiles, [
    {clean, [
        {prepare, [clean]}
    ]},
    {default, [
        {prepare, [build_plt]},
        {perform, [template, obs_package]}
    ]}
]}.

{template, [
    {"obs/ebt.spec.in", "out/obs/ebt.spec", [], {$@,$@}}
]}.

{tasks, [
        {modules, [{obs_package, ebt_task_shell}]}
]}.

{obs_package, [
        {command, "obs/archive.sh"}
]}.
