{version, {shell, "./version.sh"}}.
{build, {shell, "printf '%d' $BUILD_NUMBER"}}.

{subdirs, ["ebt"]}.

{profiles, [
    {default, [
        {prepare, [clean, depends]},
        {perform, [template, obs_package]}
    ]}
]}.

{template, [
    {"obs/ebt.spec.in", "out/obs/ebt.spec", [], {$@, $@}}
]}.

{tasks, [
    {modules, [{obs_package, ebt_task_shell}]}
]}.

{obs_package, [
    {command, "obs/archive.sh"}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://erlang-build-tool.googlecode.com/files", [
            {erlandox, "1.0.5"},
            {xl_stdlib, "1.2.0.307"},
            {xl_io, "1.2.0.301"},
            {getopt, "0.7.1"}
        ]}
    ]}
]}.
