{define, version, {shell, "echo -n `git describe --tags --abbrev=0`"}}.

{profiles, [
    {default, [
        {subdirs, ["ebt", "example"]},
        {prepare, [clean, depends]},
        {perform, [template, obs_package]}
    ]}
]}.

{clean, ["lib/*", "out/*"]}.

{template, [
    {"obs/ebt.spec.in", "out/obs/ebt.spec", [], {$@, $@}}
]}.

{tasks, [
    {modules, [{obs_package, ebt_task_shell}]}
]}.

{obs_package, [
    {command, "obs/archive.sh"}
]}.

{depends, [
    {dir, "./lib"},
    {escape, ebt__},
    {escape_exclude, [{atom, 30, import_as}]},
    {repositories, [
        {"http://erlang-build-tool.googlecode.com/files", [
            {erlandox, "1.0.5"},
            {xl_stdlib, "1.2.11.358"},
            {getopt, "0.7.1"}
        ]}
    ]}
]}.
