{libraries, ["../lib"]}.

{profiles, [
    {default, [
        {perform, [escript, package]}
    ]}
]}.

{compile, [
    {sources, [
        ["src/ebt_task.erl"],
        ["src/*.erl"]
    ]},
    {flags, [warnings_as_errors, debug_info]}
]}.

{escript, [
    {ebt, "-noshell -noinput +d", ["priv/*"]}
]}.
