{version, {shell, "../version.sh"}}.
{build, {shell, "printf '%d' $BUILD_NUMBER"}}.

{profiles, [
    {default, [
        {perform, [dialyze, escript, package]}
    ]}
]}.

{compile, [
    {first, ["ebt__do.erl", "ebt__cut.erl", "ebt__monad.erl", "ebt__monad_plus.erl", "ebt__xl_autoresource.erl"]},
    {flags, [warnings_as_errors, debug_info]}
]}.

{libraries, ["../lib"]}.

{escript, [
    {ebt, "-noshell -noinput +d", ["priv/*"]}
]}.

{edoc, [
    {files, [{exclude, ["src/ebt__*"]}]}
]}.

{dialyze, [
    {files, [{exclude, ["src/ebt__*.erl"]}]}
]}.
