{version, {shell, "../version.sh"}}.
{build, {shell, "printf '%d' $BUILD_NUMBER"}}.

{profiles, [
    {default, [
        {perform, [escript, package]}
    ]}
]}.

{compile, [
    {flags, [warnings_as_errors, debug_info]}
]}.

{libraries, ["../lib"]}.

{escript, [
    {ebt, "-noshell -noinput +d", ["priv/*"]}
]}.

{rpm_spec, [
    {spec, [
        {header, [
            {'Summary', "Erlang Build Tool"},
            {'License', "Proprietary"},
            {'Group', "Development"},
            {'BuildArch', "noarch"},
            {'Requires', erlang}
        ]},
        {description, "Erlang Build Tool"}
    ]}
]}.
