{profiles, [
    {default, [
        {perform, [release, rpm]}
    ]}
]}.
{libraries, ["../out/production"]}.
{release, [
    {name, app1},
    {config, "reltool.config"},
    {resources, ["etc"]}
]}.


{rpm_spec, [
    {spec, [
        {template, release},
        {header, [
            {'Summary', "Example Release 1"},
            {'License', "Proprietary"},
            {'Group', "Development"},
            {'BuildArch', "noarch"},
            {'Requires', erlang}
        ]},
        {description, "Example Release 1"}
    ]}
]}.
