{sys, [
       {lib_dirs, ["../out/production"]},
       {rel, "app2", "1.1.1",
        [
         kernel,
         stdlib,
         sasl,
         cmn,
         app2
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "app2"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.
